<div class='embed_area'>
  <h4>
    <label for='embed_text'>HTML Embed Code</label>
  </h4>
  <textarea rows='6' cols="45"><%= "<div><script type='text/javascript' charset='utf-8'> var iframe = document.createElement('iframe');document.body.appendChild(iframe); iframe.src =".html_safe + "'#{group_url}';".html_safe + "iframe.width='300rem;';iframe.height = '75rem;';</script></div>".html_safe %>

  </textarea>
  <h4>
    <label for='embed_text'>HTML Output:</label>
  </h4>
  <section>
    <iframe src=<%="#{group_url}"%> width='300rem' height='75rem'></iframe>
  </section>
</div>


